<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel='shortcut icon' href='images/favicon.png' type='image/x-icon'/ >
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bangers"">
	<title>Marvel Comics</title>
</head>
<body>
	<nav class="topNav">
		<a href="/">
			<h2 class="title">Marvel Comics</h2>
		</a>
		<div class="rightNav">
			<ul>
				<li class="linkNav">
					<a class="navTabs" href="#">Contact</a>
					<a class="navTabs" href="#">Sign Up</a>
					<a class="navTabs" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>