<% include includes/header %>

<section class="characterCont">
	<% for(var i = 0; i < characters.length; i++) { %>
		<a href='/character/<%= characters[i].charID %>'>
			<div class="character" style="background-image: url('<%= characters[i].thumbnail %>')">
				<span> <%= characters[i].name %> </span>
			</div>
		</a>
	<% } %>
</section>

<% include includes/footer %>