<% include includes/header %>

<section class="seriesDetail">
	<section class="seriesInfo">
		<div class="seriesSm">
			</div>
			<h1 class="seriesName"></h1>
			<span class="border"></span>
	</section>
	<section class="comicCont">
			<!--Append-Comics-Here-->
	</section>
		<footer>
			<div class="characterList">

			</div>
		</footer>
	</section>

<% include includes/footer %>