<% include includes/header %>

<section class="contactContainer">
	<div>
		<img src="/images/contact.jpg" alt="ContactPicture">
		<span>Justin Ray</span>
	</div>
	<span class="border"></span>
	<div>
		<h2>Email: <a href="mailto:ray.justin@live.com">ray.justin@live.com</a></h2>
		<h2>Github: <a target="_blank" href="https://github.com/RayJustin">RayJustin</a></h2>
		<h2>Facebook: <a target="_blank" href="https://www.facebook.com/justin.ray.319">Justin Ray</a></h2>
		<span class="border"></span>
		<p>Found a bug?</p>
		<p>Need a developer?</p>
		<p>Want to talk Marvel?</p>
		<p>Get in contact with me!</p>
	</div>

</section>


<% include includes/footer %>