<% include includes/header %>

<section class="comicOverview">
	<div class="comicContainer">
		<!--Append-Comic-Here-->
	</div>
	<div class="comicDesc">
		<h1>Description</h1>
		<ul class="comicDetail"></ul>
	</div>
</section>

<% include includes/footer %>