<% include includes/header %>

<section class="comicOverview">
	<div class="comicContainer">
		<div class="comicLrg" style="background-image: url(' <%= comic.thumbnail %> ')">
			
		</div>
		<% if(user) { %>
					<a href="#" class="readButtonLrg">Read</a>
				<% } %>
	</div>
	<div class="comicDesc">
		<h1> <%= comic.name %> </h1>
		<ul class="comicDetail"></ul>
	</div>
</section>

<% include includes/footer %>