<% include includes/header %>

<div class="authContainer">
    <h1>Login</h1>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <p>Need an account?</p> 
        <a href="/signup">Signup</a>
        <p>Can't get logged in?</p> 
        <a href="/contact">Contact Me</a>
    </div>
</div>

<% include includes/footer %>
