<% include includes/header %>

<section class="characterDetail">
	<section class="characterInfo">
		<div class="characterHead"></div>
		<h1 class="characterName"></h1>
		<span class="border"></span>
	</section>
	<section class="seriesSection">
		<!--Append-Series-Here-->
	</section>
</section>

<% include includes/footer %>