* {
	font-family: Bangers, Open Sans, Arial, Sans-serif;
	box-sizing: border-box;
}

ul {
	margin: 0;
}

label {
	color: white;
	font-size: 25px;
	text-shadow: 5px 5px black;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}

input[type=checkbox]:checked + label:before {
    content:"\2714"; /* Tick */
    color:white;
    background-color: #666; 
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
	background-size: cover;
}

/*----Header-Styles----*/

.topNav {
	background-color: #d30000;
	width: 100%;
	height: 50px;
	border-bottom: 3px solid black;
}

.title {
	float: left;
	margin: 10px 20px;
	letter-spacing: 5px;
	font-size: 30px;
	color: white;
	text-shadow: 5px 5px black;
}

.navTabs {
	border-left: 2px solid white;
	float: right;
	padding: 12px 20px;
	letter-spacing: 2px;
	font-size: 20px;
	color: white;
	text-shadow: 3px 3px black;
}

.navTabs:hover {
	cursor: pointer;
	color: grey; 
}

/*----Body-Styles----*/

.characterCont, .comicCont, .seriesSection {
	max-width: 900px;
	min-height: 260px;
	margin: 20px auto;
	text-align: center;
}

.character, .characterHead , .series, .footerCharacter, .seriesSm {
	background-color: black;
	background-size: cover;
	display: inline-block;
	border: 3px solid white;
	margin: 10px 20px;
}

.character, .characterHead {
	width: 100px;
	height: 100px;
}

a {
	width: inherit;
	height: inherit;
}

.series {
	height: 300px;
	width: 200px;
	position: relative;
	background-position: center bottom;
	background-size: 
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}

.series > span {
	display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

.series:hover, .comic:hover, .character:hover {
	border: 3px solid yellow;
}

.comic {
	height: 150px;
	width: 100px;
	background-size: cover;
	display: inline-block;
	background-color: black;
	border: 3px solid white;
}

.seriesSm {
	height: 150px;
	width: 100px;
	background-size: cover;
	display: inline-block;
}

.seriesCont {
	width: 250px;
	height: 400px;
	display: inline-block;
	margin: 0 5px;
}

.meter { 
	width: 150px;
	height: 20px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	float: left;
	margin: 0 55px;
}

.seriesInfo {
	width: 50%;
	height: 200px;
	margin: 0 auto;
}

.characterDetail, .seriesDetail, .comicOverview {
	display: none;
}

.characterInfo {
	width: 50%;
	height: 125px;
	margin: 0 auto;
	white-space: nowrap;
}

.border {
	margin: -5px 0; 
	display: block;
    border: none;
    color: white;
    height: 3px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#000));
}

.seriesName, .characterName {
	letter-spacing: 5px;
	font-size: 40px;
	color: white;
	text-shadow: 5px 5px black;
	margin: 0;
	display: inline-block;
	bottom: 30px;
	position: relative;
	max-width: 450px;
}

h1.characterName {
	font-size: 3rem;
}

.progress {
	letter-spacing: 2px;
	font-size: 20px;
	text-shadow: 5px 5px black;
}

.meter > span {
	max-width: 140px;
	display: block;
	height: 10px;
	margin: 5px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.comicOverview {
	height: 600px;
	position: absolute;
}

.comicDesc {
	display: inline-block;
	letter-spacing: 5px;
	font-size: 20px;
	color: white;
	text-shadow: 5px 5px black;
	position: relative;
	left: 300px;
	margin: 20px 0;
}

.comicWrapper {
	height: 200px;
	width: 100px;
	display: inline-block;
	margin: 10px 15px;
}

.comicContainer {
	float: left;
	display: inline-block;
	position: relative;
	left: 200px;
}

.comicLrg {
	height: 350px;
	width: 225px;
	margin: 50px auto;
	background-color: black;
	background-size: cover;
	border: 3px solid white;
}

.checked {
	border: 1px solid green;
}

.uncheckBox {
	background-image: url('images/unchecked.ico');
	background-size: cover;
	width: 10px;
	height: 10px;
}

.checkBox {
	background-image: url('images/checked.ico');
	background-size: cover;
	width: 10px;
	height: 10px;
}

.read {
	color: white;
	font-size: 15px;
}

/*----Footer-Styles----*/

.characterList {
	width: 100%;
	height: 100px;
	background-color: black;
	text-align: center;
}

.footerCharacter {
	width: 80px;
	height: 80px;
	display: inline-block;
}










